<div class="grid grid-cols-2 justify-center items-center">
<nav class="border w-72 grid grid-cols-3 text-center m-2">
    <a class="border bg-gray-800 text-white py-1 hover:bg-gray-500 transition-all" href="/company/dashboard">Dashboard</a>
    <a class="border bg-gray-800 text-white py-1 hover:bg-gray-500 transition-all" href="/company/settings">Settings</a>
    <a class="border bg-gray-800 text-white py-1 hover:bg-gray-500 transition-all" href="/company/applicants">Applicants</a>
</nav>
<form action="/company/signout" method="POST" class="text-right mx-10"><button type="submit" class="underline text-gray-600-600 font-bold cursor-pointer">Sign Out</button></form>
</div>