<%- include('./navbar') %>
<div>
    <h1 class="text-center text-5xl my-10">Create your Company Profile Here</h1>
<form action="/company/create" class="border bg-white w-96 mx-auto grid grid-rows-3 justify-center align-middle items-center rounded-sm py-5 gap-4">
    <div class="grid grid-cols-[.75fr_1fr]">
        <label for="">Company Name</label>
        <input type="text" name="c_name" class="border w-48 px-1">
    </div>
    <div class="grid grid-cols-[.75fr_1fr]">
        <label for="">Company Type</label>
        <select name="c_type" id="" class="border w-48 px-1">
            <% companyTypes.forEach((type) => { %>
                <option value="<%= type.Id %>"><%= type.Type %></option>
            <% }); %>
        </select>
    </div>
    <div class="mx-auto">
        <button type="submit" class="py-1 px-2 rounded text-center bg-blue-400 hover:bg-green-400 transition-all text-white">Create</button>
    </div>

</form>
</div>