<h1 class="text-6xl my-10 text-center text-white font-sans italic font-semibold">Welcome to Application Tracking System</h1>
<div class="">
    <p class="text-4xl text-center text-white font-bold">Why Us?</p>
    <p class="mx-48 text-2xl text-center my-10 leading-20 font-semibold">Our Application Tracking System (ATS) simplifies hiring for both companies and applicants. Companies can create job openings and manage multiple businesses under one account. Applicants can apply effortlessly, no resumes needed, just a LinkedIn profile, address, phone number, and a cover letter. Fast, seamless, and efficient hiring made easy!</p>
</div>
<div class="grid justify-center items-center">
    <a href="/jobs" class="border-2 border-white text-center px-5 py-2 mb-5 rounded-lg bg-green-600 hover:bg-yellow-600 transition-all text-white font-bold">Find Jobs</a>
</div>