<h1 class="text-5xl text-center my-5">All Jobs</h1>
<div>
    <% if(jobs.length > 0){ %>
        <table class="border-2 mx-auto text-center my-10">
            <tr class="text-white">
                <th class="border border-black py-1">Job Title</th>
                <th class="border border-black py-1">Job Payrange</th>
                <th class="border border-black py-1">Job Location</th>
                <th class="border border-black py-1">More Info</th>
            </tr>
            <% jobs.forEach((job) => { %>
                <tr>
                    <td class="border px-5 py-2"><%= job.Title %></td>
                    <td class="border px-5 py-2"><%= job.Pay %></td>
                    <td class="border px-5 py-2"><%= job.Location %></td>
                    <td class="border px-5 py-2"><a href="/job/<%= job.Id %>" class="text-yellow-300 underline font-bold">More Info</a></td>
                </tr>
            <% }) %>
        </table>
    <% } else { %>
        <p><b class="text-red-600">*</b> No Jobs Available at the Moment, please check back later</p>
    <% }; %>
</div>