<h1 class="text-5xl text-center my-5">All Jobs</h1>
<div>
    <% if(jobs.length > 0){ %>
        <table class="mx-auto text-center my-10 bg-white rounded-xl">
            <tr class="">
                <th class="py-2 px-5">Job Title</th>
                <th class="border-x py-2 px-5">Job Payrange</th>
                <th class="border-x py-2 px-5">Job Location</th>
                <th class="py-2 px-5">More Info</th>
            </tr>
            <% jobs.forEach((job) => { %>
                <tr>
                    <td class="border-t py-2 px-5"><%= job.Title %></td>
                    <td class="border-x border-t py-2 px-5"><%= job.Pay %></td>
                    <td class="border-x border-t py-2 px-5"><%= job.Location %></td>
                    <td class="border-t py-2 px-5"><a href="/job/<%= job.Id %>" class="text-blue-700 underline font-bold">More Info</a></td>
                </tr>
            <% }) %>
        </table>
    <% } else { %>
        <p class="text-center my-5"><b class="text-red-600">*</b> No Jobs Available at the Moment, please check back later</p>
    <% }; %>
</div>