<div id="logo" class="grid grid-cols-[0.75fr_1fr] border items-center bg-gray-700 py-2">
    <!-- <a href="/">
        <img src="https://placehold.co/300x80/jpg" alt="Site Logo">
    </a> -->
    <a class="text-2xl text-center text-white italic font-sans font-semibold" href="/">Application Tracking System</a>
    <%- navHTML %>
</div>